body, body * /* so every thing is sized based on all of its content*/
{
    box-sizing: border-box;
}
body{
    height: min(100svh,700px);
    width: 100svw;
    display: flex;
    margin: 0;
 
}
sidebar{
    padding-left: 3dvw;
    padding-top: 4dvh;
    display: grid;
    grid-template-rows: 7dvh repeat(5,5dvh) 9dvh repeat(3,5dvh);
    background-color: rgb(0, 174, 255);
    color: white;
    width: 20dvw;
   height: 100%;
}
.side-bar{
    display: flex;
    gap: 1dvw;
    flex-grow: 1;
}
svg{
    height: 3dvh;
    width: auto;
    color: white;
    fill: white;
}
top svg{
    fill: gray;
}
top{
    height: 20svh;
}
main{
    height: 80svh;
}

.layer1 ,.layer2{
    display: flex;
    padding-top:2dvh ;
    padding-left: 3dvw;
}
.left,.right{
display: flex;
}
.left{
    flex-grow: 1;
}
.right{
    margin-right: 3dvw;
}
.layer1 .left,.layer1 .right
{
    gap: min(2dvw,30px);
}
.layer1{
grid-template-columns: 2fr 1fr;
}
search-bar{
    background-color: rgb(176, 176, 176);
    border-radius: 20px;
    width: 30dvw;
    height: 3dvh;
}
logo img{
    height: 5dvh;
    width: 5dvh;
    border-radius: 90px;
}
.layer2 img{
    height: 8dvh;
    width: 8dvh;
}
.layer2 .left{
    display: flex;
    gap:  min(3dvw,40px);
}
.layer2 .right{
    gap: min(3dvw,40px);
}
.share{
    background-color: rgb(0, 174, 255);
    color: white;
    border-radius: 20px;
    /*padding-top:min(2dvh,20px); 
    padding-bottom:min(2dvh,20px) ;
    padding-left: min(4dvw,50px);
    padding-right: min(4dvw,50px);*/
    height:min(6dvh,60px) ;
    width: min(9dvw,100px) ;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.grid, text{
    display: grid;
}
#main{
width: 80dvw;
display: grid;
grid-template-rows: 1fr 4fr;

}

content{
    background-color: lightgrey;
    height: min(80svh,562.5px);
}
.projects{
    
    grid-template-columns: repeat(2,25dvw);
    column-gap: min(3dvw,60px);
    row-gap: 3svh;
    grid-template-rows: repeat(3,1fr);
}
span{
    background-color: #f59e0b;
    width: 1dvw;
    height: auto;
    margin-right: 2dvw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}
card{border-radius: 5px;
    background-color: white;
    display: flex;
    height: 20dvh;
    width: 25dvw;
    margin-top:2dvh ;
    margin-left: 1dvw;
    /*padding-right: 2dvw;
    padding-bottom: 2dvh;*/
}
card.right{
    margin-left: 0px;
}
text{
    grid-template-rows: 1fr 4fr 2fr;
}
icons{
    display: flex;
    width: 20dvw;
    gap: 1.5dvw;
}
.first{
 
    margin-left: auto;
}
icons>svg{
    fill: rgb(70, 70, 70);
    
}
content{
    grid-template-columns: 3fr 1fr;
}
announcement, trending{
    background-color: white;
    height: 32dvh;
    grid-auto-flow: row;
    width: 85%;

}
announcement>*,trending>*{
    max-height: 6dvh;

}
#Treanding{
    margin-top: 4dvh;
}
h5{
    margin:0px;
    margin-bottom: 1dvh;
}
h3{
    margin-bottom: 0px;
}
announcement>div
{
height: 100%;
position: relative;
left: 10%;
width: 70%;
top: 2dvh;
}
announcement>div.here::after,announcement>div.here2::after{
 content: "";
    position: relative;
    display: block;
 ;
     /* Adjust as needed */
    height: 2px; /* Adjust the height of the line as needed */
   width: 100%;
   opacity: 60%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust color and opacity as needed */
  }
  announcement>div.here2::after{
    top:1dvh;
  }
announcement>div h3{
    margin-top: 0px;
}
.title{
    margin-top: 2dvh;
}
Announcement div,trending div
{font-size: 14.5px;}
h3{
    font-size: 18px;
}
text-right{
    display: block;
    height: 70px;
}
text-right>logo>img{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.flex{
    display: flex;

}
